main{
    display: flex;
}
aside{
    background-color: #F4F4F4;
    min-width: 280px;
    display: none;
    flex-direction: column;
    padding: 42px 40px;
}
.logo_aside{
    text-align: center;
}
aside img{
    width: 120px;
}
.problem_statement{
    margin-top: 82px;
    margin-right: 8px;
}
.problem_statement button{
    background-color: #3E5063;
    box-shadow:0 8px 8px 0 #8F95B22E;
    display: flex;
    border-radius: 6px;
    gap: 8px;
    border: none;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    align-items: center;
}
.section_list{
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}
.section_list :last-child{
    color: #99324E;
}
.section_list li{
    padding: 16px 12px 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #3E5063;
}
.footer_aside{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 8;
}
.footer_aside a{
padding: 16px 12px 12px;
display: flex;
align-items: center;
gap: 12px;
margin-top: auto 0;
font-size: 14px;
font-weight: 500;
}
.sign_out{
    color: #D70000;
}
.profile_name{
    color: #3E5063;
}
.left_content_body{
    padding: 42px 30px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    background-color: #FAFAFA;
    width: 100%;
}
.left_content header h3{
 display: none;
font-size: 18px;
font-weight: 800;
color: #3E5063;
}
.title_header{
    display: flex;
    align-items: center;
    gap: 8px;
}
.icons_header{
    display: flex;
    gap: 18px;
}
.left_content header p{
    display: none;
    font-size: 14px;
    font-weight: 600;
    color: #3E5063;
    margin-top: 10px;
}
.status_problem{
    display: none;
    justify-content: space-between;
    gap: 39px;
    align-items: center;
    flex-wrap: wrap;

}
.right_content_status{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

}
.status_box{
    background-color: #F4F4F4;
    padding: 22px 34px 18px;
    display: flex;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 700;
    color: #3E5063;
    min-width: 236px;
    align-items: center;
    height: 91px;
    box-shadow: 0 5px 10px 0 #8F95B21A;
    justify-content: space-between;
}
.in_progress{
    width: 38px !important;
}
.status_box svg{
width: 21px;
}
.status_box span{
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;

}
.status_box div{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.left_content_status{
    position: relative;
    
}
.left_content_status div{
    position: absolute;
    background-color: #F4F4F4;
    height: 111px;
    width: 111px;
    display: flex;
    align-items: center;
    top: -18px;
    right: 27px;
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0 5px 10px 0 #8F95B21A;
}
.left_content_status button{
background-color: #F4F4F4;
gap: 55px;
display: flex;
min-width: 329px;
height:73.71px;
border: none;
justify-content: flex-end;
align-items: center;
padding: 0 40px;
font-size: 12px;
font-weight: 900;
color: #3E5063;
border-radius: 7.69px;
box-shadow: 0 5px 10px 0 #8F95B21A;
}
.left_content_status button span{
    font-size: 20px;
    font-weight: 900;
}
.title_section_issues{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.title_section_issues h3{
    font-size: 14px;
    font-weight: 800;
    color: #3E5063;
}
.title_section_issues div{
    display: flex;
    gap: 8px;
}
.title_section_issues div > :first-child{
   height: 42px;
   width: 42px;
    border-radius: 6px;
    background-color: #FFFFFF;
    border: .5px solid #A0A8B3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_section_issues div > :last-child{
    padding: 12px 24px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: .5px solid #A0A8B3;
    font-size: 10px;
    font-weight: 700;
    color: #A0A8B3;
    gap: 12px;
    line-height: 12px;
    height: 42px;
}
.title_table{
    font-size: 12px;
    font-weight: 700;
    color: #3E5063;

}
.title_table >:first-child{
    padding-right: 24px;
}
.title_table th{
    padding-bottom: 18px;
    text-align: right;
}
.content_issues{
    -webkit-border-vertical-spacing: 12px;
    -webkit-border-horizontal-spacing: 0px;
    display: none;
}
.style_row_table{
    border-radius: 6px;
    background-color: #FFFFFF;
    border-right: .5px solid #A0A8B3;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 800;
    border-radius: 6px;
}
.style_row_table td{
    margin-bottom: 12px;
    border-top: .5px solid #A0A8B3;
    border-bottom:  .5px solid #A0A8B3;
    border-spacing: 12px;
    padding: 20px 0;
}
.style_row_table > :last-child{
    border-left: 1px solid #A0A8B3;
    border-radius: 6px 0 0 6px;
    padding-left: 40px !important;
}
.style_row_table > :nth-child(1){
    border-right: 1px solid #A0A8B3;
    border-radius: 0 6px 6px 0;
    padding-right: 24px;
}
.style_row_table >:nth-child(5) span{
font-size: 11px;
font-weight: 900;

}
    .percentage_dashbord{
        position: relative;
    }
    .percentage_dashbord div{
        position: absolute;
        background-color: #F4F4F4;
        height: 58px;
        width: 62px;
        display: flex;
        align-items: center;
        top: -10px;
        right: 19px;    
        border-radius: 50%;
        justify-content: center;
        box-shadow: 0 5px 10px 0 #8F95B21A;
    }
    .percentage_dashbord button{
    background-color: #F4F4F4;
    gap: 18px;
    display: flex;
    min-width: 184px;
    height:38.47px;
    border: none;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    font-size: 8px;
    font-weight: 900;
    color: #3E5063;
    border-radius: 7.69px;
    box-shadow: 0 5px 10px 0 #8F95B21A;
    }
    .percentage_dashbord button span{
        font-size: 20px;
        font-weight: 900;
    }
    .Diagrams_of_the_status{
        width: 100%;
        display: none;
    }
    .Diagrams_of_the_status h3{
     font-size: 18px;
     font-weight: 800;
     color: #3E5063;
     margin-bottom: 42px;
    }
    .container_diagram{
        display: flex;
        gap: 11px;
    }
    .right_content_diagram{
        box-shadow: 0 2px 2px 0 #8F95B214;
        width: 324px;
    }
    .right_content_diagram h4{
        border-radius: 12px 12px 0px 0px;
        background-color: #F4F4F4CC;
        display: flex;
        height: 58px;
            align-items: center;
            font-size: 14px;
            font-weight: 800;
            color: #3E5063;
            padding-right: 32px;
            border-right: .5px solid #F2F2F7;
         border-left: .5px solid #F2F2F7;
        border-top: .5px solid #F2F2F7;
    }
    .percentages{
        padding: 41px 33px;
        display: flex;
            flex-direction: column;
gap: 16px;
    }
    .percentages div{
        display: flex;
            justify-content: space-between;

    }
    .percentages p{
        font-size: 12px;
        font-weight: 600;
        color: #8E8E93;
    }
    .percentages span{
                font-size: 12px;
        font-weight: 500;
        color: #8E8E93;
    }
    .percentages_img{
        display: flex;
    justify-content: center;
    padding: 20px 0;
    }
    .right_content_diagram >:nth-child(2){
border-right: .5px solid #A0A8B3;
border-left: .5px solid #A0A8B3;
border-bottom: .5px solid #A0A8B3;
        border-radius: 0 0 12px 12px;


    }
    .head_diagram{
        display: flex;
            justify-content: space-between;
        border-radius: 12px 12px 0px 0px;
        background-color: #F4F4F4CC;
        display: flex;
        height: 58px;
            align-items: center;
            font-size: 14px;
            font-weight: 800;
            color: #3E5063;
            padding-right: 32px;
            padding-left: 43px;
            border-right: .5px solid #F2F2F7;
         border-left: .5px solid #F2F2F7;
        border-top: .5px solid #F2F2F7;
    }
    .head_diagram p{
        font-size: 12px;
        font-weight: 800;
        color: #99324E;
        display: flex;
        gap: 10px;
            align-items: center;

    }
    .body_diagram{
        padding: 43px 39px 14px;
        border-right: .5px solid #A0A8B3;
border-left: .5px solid #A0A8B3;
border-bottom: .5px solid #A0A8B3;
        border-radius: 0 0 12px 12px;
    }
    .responsive_dashbord_mobile{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .dashbord_box{
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        border: .5px solid #A0A8B3;
        padding: 22px 18px;
        gap: 16px;
        background-color: #fff;
        font-size: 12px;
        font-weight: 700;
        color: #3E5063;
    }
    .dashbord_box div{
        display: flex;
        justify-content: space-between;

    }
    .dashbord_box >:last-child >:nth-child(2){
        color: #FF9500;
    }
    header{
        background-color: #FAFAFA;
        padding: 25px 34px 0;
        position: fixed;
        box-shadow: 0 4px 4px 0 #0000002E;
        width: 100%;
height: 73px;
    }
    .left_content_body{
        padding-top: 120px;

    }
    .left_content{
        position: relative;
        width: 100%;

    }
    .title_header_and_icons{
        display: flex;
        justify-content: space-between;

    }
    .title_header_and_icons img{
        height: 32px ;
    }
    .responsive_icon_header{
        display: none ;
    }
    .responsive_title{
        display: flex;
        flex-direction: column;
        gap:10px ;
        color: #3E5063;
    }
    .responsive_title h3{
        font-size: 18px;
        font-weight: 800;
    }
    .responsive_title p{
font-size: 14px;
font-weight: 600;
    }