@media only screen and (min-width: 700px){
    .style_row_table td{
        padding-left: 60px;
     }
}
@media only screen and (min-width: 900px ){
        .style_row_table td{
        padding-left: 115px;
     }
}
@media only screen and (min-width: 1080px){
    .style_row_table td{
        padding-left: 100px;

    }
    aside{
        display: flex;
    }
    .title_section_issues h3{
        font-size: 18px;
    }
    .responsive_dashbord_mobile{
        display: none;
    }
    .content_issues{
        display: table;
        width: 100%;
    }
    header{
        position: unset;
        box-shadow: none;
        padding: 42px 30px 0;
        height: auto;
    }
    .left_content_body{
        padding-top: 42px;
    }
    .left_content header h3{
        display: block;
    }
    .left_content header p {
        display: block;
    }
    .title_header_and_icons img{
        display: none;
    }
    .responsive_icon_header{
        display: inline;
    }
    .status_problem{
        display: flex;
    }
    .responsive_title{
        display: none;
    }
}
@media only screen and (min-width: 1280px) {

    .style_row_table td{
        padding-left: 130px ;
    }
    .title_section_issues div > :last-child{
        font-weight: 800;
    }
}


@media only screen and (min-width: 1440px){
    .style_row_table td{
        padding-left: 150px ;
    }
    .Diagrams_of_the_status{
        display: block;
    }

}




