.sign_up_style{
    height: 100vh;
}
.close_sign_up_window{
    margin: 72px 90px 0 0;
    color: #99324E;
    fill: #99324E;
    display: flex;
    font-size: 18px;
    font-weight: 700;
}
.close_sign_up_window svg{
    margin-left: 8px;
}
.sign_up_window{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign_up_window h1{
    margin-top: 12px;
    font-size: 38px;
    font-weight: 900;
    color: #99324E;
}
.sign_up_box{
    width: 430px;
    height: auto;
    border-radius: 10px;
    padding: 32px 24px 42px 24px;
    background-color: #3E506385;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
}
.sign_up_box p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.sign_up_icon{
    height: 48px;
    border-radius: 8px;
    padding: 12px 114px 12px 114px;
    background-color: #99324E;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
@media screen and (max-width: 500px)   {
    .sign_up_box{
        background-color: #fff;
    }
    .sign_up_box p{
        color: #3E5063;
    }
    .close_sign_up_window span{
        display: none;
    }
}